:root {
  /* FUNDOS */
  --color-bg-primary: #161b22; /* Cor de fundo primária */
  --color-bg-secondary: #343a43; /* Cor de fundo secundária */
  --color-bg-black: black;

  /* TEXTO */
  --text-color: #fafbfc; /* Cor do texto primária */
  --text-color-secondary: #8b949e; /* Cor do texto secundária */

  /* Cores de destaque (exemplo) */
  --color-red: #da3633; /* Vermelho */
  --color-green: #3fb950; /* Verde */
  --color-orange: #e36209; /* Laranja */
  --white-3: #e7a100;

  /* MODO DIURNO */
  --color-bg-primary-day: #fafbfc; /* Cor do fundo primária dia */
  --color-bg-secondary-day: #d1d5da; /* Cor do fundo secundária dia */
  --text-color-day: #101012; /* Cor do texto primária dia */
  --text-color-secondary-day: #f6f8fa; /* Cor do texto secundária dia */
}
