:root {
  /* FUNDOS */
  --color-bg-primary: #161b22; /* Cor de fundo primária */
  --color-bg-secondary: #343a43; /* Cor de fundo secundária */
  --color-bg-black: black;

  /* TEXTO */
  --text-color: #fafbfc; /* Cor do texto primária */
  --text-color-secondary: #8b949e; /* Cor do texto secundária */

  /* Cores de destaque (exemplo) */
  --color-red: #da3633; /* Vermelho */
  --color-green: #3fb950; /* Verde */
  --color-orange: #e36209; /* Laranja */
  --color-orange-secondary: #e7a100;

  /* MODO DIURNO */
  --color-bg-primary-day: #fafbfc; /* Cor do fundo primária dia */
  --color-bg-secondary-day: #d1d5da; /* Cor do fundo secundária dia */
  --text-color-day: #101012; /* Cor do texto primária dia */
  --text-color-secondary-day: #f6f8fa; /* Cor do texto secundária dia */
}

body {
  background-color: var(--color-bg-primary);
}

.navbar {
  background-color: var(--color-bg-black);
}

.navbar i,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.dropdown-menu li a {
  color: var(--text-color);
}

.dropdown-toggle {
  color: var(--text-color);
}

.dropdown-toggle:hover {
  color: var(--color-green);
}

.dropdown-menu {
  background-color: var(--color-bg-black);
}

.drop .navbar-toggler {
  border: 1px solid var(--color-bg-secondary);
  padding: 5px;
  border-radius: 5px;
}

h1,
h2 {
  color: var(--text-color);
}

p {
  color: var(--text-color-secondary);
}

footer {
  text-align: center;
}

.container.mt-5 {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col-md-4 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 0%;
}

.col-md-4,
.col-md-8 {
  padding: 10px;
}

.row.mt-4 {
  border: 1px solid var(--color-orange);
  border-radius: 25px;
  width: 90%;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-fluid:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

h1 {
  text-align: center;
}

.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  color: var(--color-orange);
}

.icon-link:hover {
  color: var(--color-orange-secondary);
  transition: 0.8s;
}

.bi {
  font-size: 2rem;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .row {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .col-md-4 {
    width: 100%;
    height: fit-content;
  }

  h2 {
    text-align: center;
  }

  .icon-big {
    margin-top: auto;
  }
}

footer {
  text-align: center;
  background: #000000;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
}

hr {
  background-color: rgba(12, 180, 202, 0.702);
  height: 2px;
}
