footer {
  text-align: center;
}

.col-md-4 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 0%;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}
